main{
    height: 1600px;
}
.noticias {
    gap: 10px;
    margin-bottom: -10px;
}
 
.noticia {
    display: block;
    float: left;
    background-color: white;
    padding: 15px;
    width: 19.5%;
    border-radius: 10px;
    transition: all 0.5s ease;
    margin-left: 35px;
    list-style-type: none;

}
 
.noticia img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 10px;
}
 
.noticia p {
    margin-bottom: 20px;
}
 
.noticia button {
    background-color:blueviolet;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 10px;
    cursor: pointer;
}
.noticia:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}
