*{
    margin: 0;
    padding: 0;
}
header{
    background-color: #8067d8;
    height: 82px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    padding: 25px;
    position: fixed;
    z-index: 9999;
    width: 100%;
}
body{
    background-color: #f1f0eb;
}
header h1{
    float: left;
    margin-top: 18px;
    margin-right: 20px;
}
.pesquisa input{
    float: left;
    border-radius: 12px;
    background-color: white;
    height: 78px;
    width: 500px;
    font-size: 22px;
    padding:12px ;
    border: none;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);

}
.navegaçao{
    color: grey;
    margin-left: 20px;
    margin-top: -40px;
}
    .Criar a {
        float: left;
        margin-left: 600px;
    }
        .Eventos a{
            float: left;
            margin-left: 20px;
        }
            .Ingressos a{
                float: left;
                margin-left: 20px;
            }
a{
    color: white;
}