*{
    margin: 0px;
}
header{
    background-color: #8067d8;
    height: 80px;
    max-height: 100px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    padding: 25px;
    position: fixed;
    width: 100%;
    color: white;
}
main{
    height: 1000px;
    width: 100%;
    background-color: rgb(235, 232, 232);
}
h1{
    float: left;
    margin-top: 18px;
    margin-right: 20px;
}
.pesquisa input{
   float: left;
   border-radius: 12px;
   background-color: white;
   height: 78px;
   width: 500px;
   font-size: 22px;
   padding:12px ;
   border: none;
   box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);

}
.navegaçao{
    color: grey;
    margin-left: 20px;
    margin-top: 25px;

}
    .navegaçao .Criar{
        float: left;
        margin-left: 600px;
          
    }
        .navegaçao .Eventos{
            float: left;
             margin-left: 20px;
        }
            .navegaçao .Ingressos{
                float: left;
                 margin-left: 20px;
            }

 
.minhapagina {
    background-color: white;
    padding: 25px;
    margin-bottom: 50px;
    border-radius: 20px;
}
 
.minhapagina h1 {
    color:blueviolet
    margin-bottom: 20px;
    font-size: 60px;
}
 
.minhapagina p {
    margin-bottom: 10px;
    font-size: 19px;
}
 
.minhapagina img {
    width: 100%;
    height: 700px;
    border-radius: 20px;
}
 
.noticias {
    display: flex;
    gap: 10px;
}
 
.noticia {
    background-color: white;
    padding: 15px;
    width: 100%;
    max-width: 19.5%;
    border-radius: 10px;
    transition: all 0.5s ease;
}
 
.noticia img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 10px;
}
 
.noticia p {
    margin-bottom: 20px;
}
 
.noticia button {
    background-color:blueviolet
    color: white;
    border: none;
    padding: 12px;
    border-radius: 10px;
    cursor: pointer;
}
.noticia:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}
 

